* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #23252C;
    color: white;
    font-family: 'Inter';
    line-height: 1.5;
}
.header {
    background-color: #1A1B21;
    width: 317px;
    margin-left: auto;
    margin-right: auto;
}
.info {
    margin-left: 85px;
    margin-right: auto;
    width: 317px;
    align-items: center;

}
.profile-photo {
    width: 317px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
h1 {
    font-size: 2rem;
    font-weight: 700;
    color: #FFFFFF;

}
.profession {
    color: #F3BF99;
    font-size: 12.8px;
    margin-left: 15px;
}
.github-link {
    color: #F5F5F5;
    font-size: 10.24px;
    margin-left: 25px;
    margin-top: 15px;
    align-items: center;
    margin-bottom: 20px;
}
button{
    width: 247px;
    margin-left: -45px;
    margin-bottom: 20px;
    font-size: 1.24rem;
    border-radius: 5px;
    border: 1px solid #D1D5DB;
    position: relative;
}
.mail-icon {
    width: 20px;
    margin-right: 10px;
    margin-top: 5px;
}
.main-section{
    background-color: #1A1B21;
    line-height: 1.5;
    position: absolute;
    left: 38.4%;
    width: 317px;
}
h2{
    width: 247px;
    margin-left: 40px;
    font-weight: 700;
    font-size: 16px;
}
.paragraph {
    max-width: 250px;
    margin-left: 40px;
    font-size: 10.24px;
    color: #DCDCDC;
    margin-top: 10px;
    position: relative;

}
.Interest-title {
    margin-top: 25px;
}

.footer-icons{
    position: relative;
    width: 30px;
    left: 15%;
    margin-right: 20px;
    cursor: pointer;
}
footer {
    background-color: #161619;
    position: relative;
    width: 317px;
    left: 38.4%;
    bottom: -215px;
    padding: 10px 7px;
}